.sidebar {
  position: fixed;
  top: 70px;
  left: 20px;
  width: 300px;
  padding: 30px;
  background: rgba (0, 0, 255, .1);
}

.sidebar ul {

}

.sidebar li {

}

.sidebar > ul > li {

}

.sidebar li > ul {

}

.sidebar ul > li > ul > li {

}
